@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/font-awesome/css/font-awesome.min.css");
body {
    background: #2c3e50;
}
body>.container {
    margin-top: 15px;
    margin-bottom: 15px;
}
body>.container>h1 {
    color: #fff;
}
.card {
    margin-bottom: 0;
}
.card .card-block p:last-child {
    margin-bottom: 0;
}
i.fa {
    margin-right: 8px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Select folder';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }